In [0]:
import numpy as np
import pandas as pd

**Import the data from drive**

In [0]:
org_data = pd.read_csv('/content/drive/My Drive/CS609/processed.cleveland.csv')

Look at Data

In [0]:
org_data.head()

   63.0  1.0  1.0.1  145.0  233.0  1.0.2  ...  0.0  2.3  3.0  0.0.1  6.0  0
0  67.0  1.0    4.0  160.0  286.0    0.0  ...  1.0  1.5  2.0    3.0  3.0  2
1  67.0  1.0    4.0  120.0  229.0    0.0  ...  1.0  2.6  2.0    2.0  7.0  1
2  37.0  1.0    3.0  130.0  250.0    0.0  ...  0.0  3.5  3.0    0.0  3.0  0
3  41.0  0.0    2.0  130.0  204.0    0.0  ...  0.0  1.4  1.0    0.0  3.0  0
4  56.0  1.0    2.0  120.0  236.0    0.0  ...  0.0  0.8  1.0    0.0  3.0  0

[5 rows x 14 columns]

Since columns names are not mentioned in the csv file we will manually enter the column names.

Only 14 attributes used:
1. #3 (age)
2. #4 (sex)
3. #9 (cp)
4. #10 (trestbps)
5. #12 (chol)
6. #16 (fbs)
7. #19 (restecg)
8. #32 (thalach)
9. #38 (exang)
10. #40 (oldpeak)
11. #41 (slope)
12. #44 (ca)
13. #51 (thal)
14. #58 (num) (the predicted attribute)

In [0]:
org_data.columns = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','label']

Now, let us check the data

In [0]:
org_data.head(20)

     age  sex   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  label
0   67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0      2
1   67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0      1
2   37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0      0
3   41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0      0
4   56.0  1.0  2.0     120.0  236.0  ...      0.8    1.0  0.0   3.0      0
5   62.0  0.0  4.0     140.0  268.0  ...      3.6    3.0  2.0   3.0      3
6   57.0  0.0  4.0     120.0  354.0  ...      0.6    1.0  0.0   3.0      0
7   63.0  1.0  4.0     130.0  254.0  ...      1.4    2.0  1.0   7.0      2
8   53.0  1.0  4.0     140.0  203.0  ...      3.1    3.0  0.0   7.0      1
9   57.0  1.0  4.0     140.0  192.0  ...      0.4    2.0  0.0   6.0      0
10  56.0  0.0  2.0     140.0  294.0  ...      1.3    2.0  0.0   3.0      0
11  56.0  1.0  3.0     130.0  256.0  ...      0.6    2.0  1.0   6.0      2
12  44.0  1.0  2.0     120.0  263.0  ...      0.0    1.0  0.0   7.0      0
13  52.0  1.0  3.0     172.0  199.0  ...      0.5    1.0  0.0   7.0      0
14  57.0  1.0  3.0     150.0  168.0  ...      1.6    1.0  0.0   3.0      0
15  48.0  1.0  2.0     110.0  229.0  ...      1.0    3.0  0.0   7.0      1
16  54.0  1.0  4.0     140.0  239.0  ...      1.2    1.0  0.0   3.0      0
17  48.0  0.0  3.0     130.0  275.0  ...      0.2    1.0  0.0   3.0      0
18  49.0  1.0  2.0     130.0  266.0  ...      0.6    1.0  0.0   3.0      0
19  64.0  1.0  1.0     110.0  211.0  ...      1.8    2.0  0.0   3.0      0

[20 rows x 14 columns]

**Preprocessing the data**
- Check for the missing values
- Whichever column has the missing values, replace with mean of the column
- Code the mapping(if any) for each feature column. Please refer to comments above every line of code.

In [0]:
#Step 1 : Check for all the null/missing values
org_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
label       0
dtype: int64

** Looking at the result of the above line of code, it appears that we do not have missing values

Now we will simply code the mappings

# First we will map the label values, which is the ground truth
- According to the data description, label has four values 0,1,2,3,4.
- Now, this is binary classification (present vs not present). Therefore let 0 = not present and 1 = present.
- All values less than 0 in label corresponds to 'not present' & all values > 1 corresponds to 'present'

In [0]:
# Constructing mapping
org_data['label'] = org_data.label.map({0 : 0, 1 : 1, 2 : 1, 3 : 1, 4 : 1})
org_data.head(10)

    age  sex   cp  trestbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal label
0  67.0  1.0  4.0     160.0  286.0  0.0  ...    1.0      1.5    2.0  3.0   3.0     1
1  67.0  1.0  4.0     120.0  229.0  0.0  ...    1.0      2.6    2.0  2.0   7.0     1
2  37.0  1.0  3.0     130.0  250.0  0.0  ...    0.0      3.5    3.0  0.0   3.0     0
3  41.0  0.0  2.0     130.0  204.0  0.0  ...    0.0      1.4    1.0  0.0   3.0     0
4  56.0  1.0  2.0     120.0  236.0  0.0  ...    0.0      0.8    1.0  0.0   3.0     0
5  62.0  0.0  4.0     140.0  268.0  0.0  ...    0.0      3.6    3.0  2.0   3.0     1
6  57.0  0.0  4.0     120.0  354.0  0.0  ...    1.0      0.6    1.0  0.0   3.0     0
7  63.0  1.0  4.0     130.0  254.0  0.0  ...    0.0      1.4    2.0  1.0   7.0     1
8  53.0  1.0  4.0     140.0  203.0  1.0  ...    1.0      3.1    3.0  0.0   7.0     1
9  57.0  1.0  4.0     140.0  192.0  0.0  ...    0.0      0.4    2.0  0.0   6.0     0

[10 rows x 14 columns]